{  
   "py/object":"infrastructure.Infrastructure",
   "Disks":[  
      
   ],
   "compute_nodes":[  
      {  
         "py/object":"compute.Compute",
         "image":"CC-Ubuntu16.04-20180329",
         "instance_type":"m1.medium",
         "location":"us-east4-a",
         "mem_size":null,
         "metadata":{  

         },
         "name":"inst1",
         "ip":"129.114.33.0",
         "USER_ID" :"cc",
         "ADMIN_PASSWORD":"123",
         "network_name" : "demo_network",
         "num_cpus":null,
         "size":null,
         
         "task_script": "/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project_open_stack/openstack/gcp_resources/config_scripts/task.sh",
         "startup_script":"/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project/gcp_libcloud_term_project/gcp_resources/config_scripts/ovs_script.sh"
      },
      {  
         "py/object":"compute.Compute",
         "image":"CC-Ubuntu16.04-20180329",
         "instance_type":"m1.medium",
         "location":"us-east4-a",
         "mem_size":null,
         "metadata":{  

         },
        "name":"inst2",
        "ip":"129.114.110.186",
         "USER_ID" :"cc",
         "ADMIN_PASSWORD":"1",
        "network_name" : "demo_network",
         "num_cpus":null,
         "size":null,
         "task_script": "/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project_open_stack/openstack/gcp_resources/config_scripts/task.sh",
         "startup_script":"/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project/gcp_libcloud_term_project/gcp_resources/config_scripts/ovs_script.sh"
      },
      {  
         "py/object":"compute.Compute",
         "image":"CC-Ubuntu16.04-20180329",
         "instance_type":"m1.medium",
         "location":"us-east4-a",
         "mem_size":null,
         "metadata":{  

         },
         "name":"inst3",
         "ip":"129.114.33.250",
         "USER_ID" :"cc",
         "ADMIN_PASSWORD":"123",
        "network_name" : "demo_network",
         "num_cpus":null,
         "size":null,
        "task_script": "/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project_open_stack/openstack/gcp_resources/config_scripts/task.sh",
         "startup_script":"/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project/gcp_libcloud_term_project/gcp_resources/config_scripts/ovs_script.sh"
      }
   ],
   "networks":[  
      {  
         "py/object":"network.Network",
         "name":"demo_network",
         "cidr":"192.168.0.0/24",
         "router" : "rtr"
      }
   ],
   "routers":[  
      {  
         "py/object":"router.Router",
         "name":"demo_router"
      }
   ]
}