{  
   "py/object":"infrastructure.Infrastructure",
   "Disks":[  
      {  
         "py/object":"disk.Disk",
         "location":"us-east4-a",
         "name":"disk1",
         "size":null
      },
      {  
         "py/object":"disk.Disk",
         "location":"us-east4-a",
         "name":"disk2",
         "size":null
      },
      {  
         "py/object":"disk.Disk",
         "location":"us-east4-a",
         "name":"disk3",
         "size":null
      }
   ],
   "compute_nodes":[  
      {  
         "py/object":"compute.Compute",
         "image":"ubuntu-1710-artful-v20180405",
         "instance_type":"n1-standard-1",
         "location":"us-east4-a",
         "mem_size":null,
         "metadata":{  

         },
         "name":"server1",
         "network_name" : "net1",
         "num_cpus":null,
         "size":null,
         "startup_script":"/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project/gcp_libcloud_term_project/gcp_resources/junk/sample_script.sh",
         "task_script": ""
      }
   ],
   "networks":[  
      {  
         "py/object":"network.Network",
         "name":"net1",
         "cidr":"10.128.0.0/9",
         "mode" :"auto"
      }
   ]
}