{  
   "py/object":"infrastructure.Infrastructure",
   "Disks":[  
      
   ],
   "compute_nodes":[  
      {  
         "py/object":"compute.Compute",
         "image":"CC-Ubuntu16.04-20180329",
         "instance_type":"m1.medium",
         "location":"us-east4-a",
         "mem_size":null,
         "metadata":{  

         },
         "name":"demo_ins1",
         "network_name" : "demo_network",
         "num_cpus":null,
         "size":null,
         "task_script": "/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project_open_stack/openstack/gcp_resources/config_scripts/task.sh",
         "startup_script":"/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project/gcp_libcloud_term_project/gcp_resources/config_scripts/ovs_script.sh"
      },
      {  
         "py/object":"compute.Compute",
         "image":"CC-Ubuntu16.04-20180329",
         "instance_type":"m1.medium",
         "location":"us-east4-a",
         "mem_size":null,
         "metadata":{  

         },
        "name":"demo_ins2",
        "network_name" : "demo_network",
         "num_cpus":null,
         "size":null,
         "task_script": "/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project_open_stack/openstack/gcp_resources/config_scripts/task.sh",
         "startup_script":"/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project/gcp_libcloud_term_project/gcp_resources/config_scripts/ovs_script.sh"
      },
      {  
         "py/object":"compute.Compute",
         "image":"CC-Ubuntu16.04-20180329",
         "instance_type":"m1.medium",
         "location":"us-east4-a",
         "mem_size":null,
         "metadata":{  

         },
         "name":"demo_ins3",
        "network_name" : "demo_network",
         "num_cpus":null,
         "size":null,
        "task_script": "/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project_open_stack/openstack/gcp_resources/config_scripts/task.sh",
         "startup_script":"/Users/debobrotodasrobin/Google Drive/kent univ/spring_2018/cloud_infra/term_project/gcp_libcloud_term_project/gcp_resources/config_scripts/ovs_script.sh"
      }
   ],
   "networks":[  
      {  
         "py/object":"network.Network",
         "name":"demo_network",
         "cidr":"192.168.0.0/24",
         "router" : "demo_router"
      }
   ],
   "routers":[  
      {  
         "py/object":"router.Router",
         "name":"demo_router"
      }
   ]
}